---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to mattz Website - Homepage">
	<Header />
	<main>
		<h2 class="text-white">Welcome to mattz website</h2>
	</main>
</Layout>
