---
import { Icon } from "astro-icon/components";
---

<div
  class="absolute bottom-5 right-5 cursor-pointer rounded-full border border-slate-300 bg-slate-800 p-3 text-slate-50 shadow-lg hover:bg-slate-800/75 sm:hidden"
>
  <Icon class="h-8 w-8" name="burger-menu" />
</div>
