---
const year = new Date().getFullYear();
---

<footer class="bg-slate-50 p-10 text-slate-700 h-full">
  <div class="text-center">
    &copy;Copyright {year}. Sulkifli Asmunandar - darkzeref
  </div>
</footer>
