---
const year = new Date().getFullYear();
const name = 'Sulkifli Asmunandar';
const alias = 'mattz';
---
<footer class="text-center">
  Copyright &copy; {year} all right reserved <span class="font-bold">{name}</span> aka  <span class="font-bold">{alias}</span> <span class="text-rose-600">&hearts;</span>
</footer>
