---
const year = new Date().getFullYear()
---
<footer class="text-center">
  Copyright &copy; {year} all right reserved <span class="font-bold">Sulkifli Asmunandar</span> aka  <span class="font-bold">mattz</span> <span class="text-rose-600">&hearts;</span>
</footer>
