---
import Button from "@components/Button.astro";
---
<div id="hero" class="text-center space-y-3 font-hero">
  <h2 class="font-semibold text-gray-600 text-5xl tracking-tight">Hello, I'm <span class="font-bold text-textblack">Sulkifli Asmunandar</span></h2>
  <h2 class="font-semibold text-gray-600 text-4xl tracking-tight">webdev base on <span class="font-bold text-textblack">Indonesia</span></h2>
  <h3 class="text-xl font-sans font-light tracking-tight mt-10">
    I'm Junior developer with 2 years experience on building web application with Javascript/Typescript.
  </h3>
  <Button>Contact Me!</Button>
</div>
