<nav class="bg-alabaster text-textblack flex justify-between items-center mt-3 py-3 px-5 border border-gray-200 rounded-2xl">
  <a href="/" class="logo text-3xl font-bold">mattz</a>
  <div class="space-x-10 font-light">
    <a href="/" class="font-medium">Home</a>
    <a href="/articles">Articles</a>
    <a href="/about">About</a>
  </div>
  <!-- make a toggle to switch light/dark mode -->
</nav>
