---
import Link from "./Link.astro";
import { Icon } from "astro-icon/components";
---

<nav id="navbar" class="flex items-center justify-between">
  <div class="text-2xl font-bold">mattz</div>
  <div class="flex items-center space-x-3">
    <div
      class="hidden sm:block items-center justify-center space-x-2 capitalize"
    >
      <Link
        class="px-3 py-2 bg-slate-100 hover:bg-slate-200 active:bg-slate-400 rounded-full"
        href="/home"
        text="Home"
      />
      <Link
        class="px-3 py-2 bg-slate-100 hover:bg-slate-200 active:bg-slate-400 rounded-full"
        href="/portofolio"
        text="Portofolio"
      />
      <Link
        class="px-3 py-2 bg-slate-100 hover:bg-slate-200 active:bg-slate-400 rounded-full"
        href="/blogs"
        text="Blogs"
      />
      <Link
        class="px-3 py-2 bg-slate-100 hover:bg-slate-200 active:bg-slate-400 rounded-full"
        href="/tutorials"
        text="Tutorials"
      />
    </div>
    <Icon
      id="burger-menu"
      class="h-8 w-8 block sm:hidden cursor-pointer"
      name="burger-menu"
    />
  </div>
</nav>
