---
type Props = {
  title : string;
  }

  const {title} = Astro.props;
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-bgbase">
    <div class="w-3/6 mx-auto space-y-10">
      <Nav />
      <slot />
      <Footer />
    </div>
  </body>
</html>
